<div class="jumbotron">
   <h1 class="text-center">AEROCLUBE ASAS DE AGUIA </h1>
 	 <p class="text-center"> <%= link_to 'ENTRAR', new_user_registration_path, class: ' btn btn-primary btn-lg' %> </p> 
</div>